$fa-font-path: "../node_modules/font-awesome/fonts" !default;

@import "node_modules/font-awesome/scss/font-awesome.scss";

// black
$light-black: #404040;

// dark blue
$midnight-blue: #2c3e50;
$wet-asphalt: #34495e;

// light blue
$peter-river: #3498db;

// white
$clouds: #ecf0f1;
$silver: #bdc3c7;

// green
$emerald: #2ecc71;
$nephritis: #27ae60;

// red
$alizarin: #e74c3c;

// gray
$asbestos: #7f8c8d;
$concrete: #95a5a6;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $clouds;
    color: $light-black;
}

#app {
    margin: 0 auto;
    background-color: $emerald;
    width: 80vw;
    height: 100vh;
}

#entry {
    height: 80px;

    form {
        width: 100%;
        height: 100%;

        input {
            border: 0;
            text-align: center;
            font-size: 28px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: $nephritis;
        }
    }
}

#recorded-times {
    background-color: $emerald;
    display: flex;
    height: calc(100vh - 80px);

    flex-wrap: wrap;
    justify-content: space-around;

    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;

    .record {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 230px;

        margin-bottom: 10px;
        margin-right: 10px;

        .runner {
            font-size: 50px;
            text-align: center;
            height: 50px;
        }

        .name {
            height: 20px;
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .time {
            background-color: $wet-asphalt;
            color: $silver;
            text-align: center;
        }

        &.c21k {
            background-color: $asbestos;
        }

        &.c10k {
            background-color: $concrete;
        }
    }
}

#tools {
    position: absolute;
    right: 50px;
    bottom: 50px;

    .tool {
        display: inline-block;
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        margin: 5px;
        font-size: 40px;
        border: 0;
        border-radius: 40px;
        cursor: pointer;
        background-color: $peter-river;
        color: $clouds;
        text-align: center;
        line-height: 80px;
    }
}

