body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #cfcfcf;
}

#app {
    margin: 0 auto;
    background-color: #73B56F;
    width: 80vw;
    height: 100vh;
}

#entry {
    height: 80px;

    form {
        width: 100%;
        height: 100%;

        input {
            border: 0;
            text-align: center;
            font-size: 28px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: #31BBD0;
            color: #3f3f3f;
        }
    }
}

#recorded-times {
    background-color: #5531D0;
    display: flex;
    height: calc(100vh - 80px);

    flex-wrap: wrap;
    justify-content: space-around;

    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;

    .record {
        background-color: gray;

        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 230px;

        margin-bottom: 10px;
        margin-right: 10px;

        .runner {
            font-size: 50px;
            text-align: center;
            height: 50px;
        }

        .name {
            height: 20px;
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .time {
            background-color: white;
            text-align: center;
        }
    }
}

#tools {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: green;

    .tool {
        width: 80px;
        height: 80px;
        margin: 5px;
    }
}

#download {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 40px;
}
