body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #cfcfcf;
}

#app {
	margin: 0 auto;
	background-color: #73B56F;
	width: 80vw;
	height: 100vh;
}

#entry {
	height: 80px;
}
#entry input {
	border: 0;
	text-align: center;
	font-size: 28px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #31BBD0;
	color: #3f3f3f;
}

#recorded-times {
	background-color: #5531D0;
	display: flex;
	height: calc(100vh - 80px);

	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;

	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}

#recorded-times .record {
	padding: 5px;
	background-color: gray;
	height: 80px;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 20%;

	margin-bottom: 10px;
	margin-right: 10px;
}

#recorded-times .record .runner {
	font-size: 50px;
}

#recorded-times .record .time {
	text-align: center;
}

#tools {
	position: absolute;
	right: 50px;
	bottom: 50px;
	background-color: green;
}

#tools .tool {
	width: 80px;
	height: 80px;
	margin: 5px;
}

#download {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0;
	font-size: 40px;
}
